<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

  <title>About My Break Screen</title>
</head>
<header th:insert="~{fragments/header.html :: header}" ></header>
<body class="text-center" style="background-color: #5072A7">

<script th:src="@{js/bootstrap.bundle.min.js}"></script>
</body>
</html>