<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
    <title>My Break Screen</title>
</head>
<header th:insert="~{fragments/header.html :: header}"></header>
<body id="body">
    <div class="container text-center" style="height: 36vh">
        <label class="textElement" id="labelForTimeInput" for="timeInput">Enter Time (HH:mm:ss):</label>
        <input type="text" id="timeInput">
        <button id="startButton">Start Timer</button>
        <label class="textElement" id="colorChoiceLabel" for="colorChoice">Background Color</label>
        <input type="color" id="colorChoice">
        <label class="textElement" id="textColorChoiceLabel"  for="textColorChoice">Text Color</label>
        <input type="color" id="textColorChoice">
    </div>
    <div>
        <h1 class="textElement display-1 container text-center" id="timerDisplay">Break Not Started</h1>
    </div>
    <div th:insert="~{fragments/timer :: timerLogic}"></div>
    <script th:inline="javascript">
            //Logic for background color control
            let colorPicker = document.getElementById("colorChoice");
            const b = document.getElementById("body");
            colorPicker.value = "#5072A7";
            b.style.backgroundColor = colorPicker.value;

            colorPicker.addEventListener("input", function (e) {
                colorPicker.value = e.target.value;
                b.style.backgroundColor = e.target.value;
            });

            colorPicker.addEventListener("change", function (e) {
                colorPicker.value = e.target.value;
                b.style.backgroundColor = e.target.value;
            });

            //Logic for text color control
            let textColorPicker = document.getElementById("textColorChoice");
            let textElements = document.getElementsByClassName("textElement");
            textColorPicker.value = "#FFFFFF";


           window.addEventListener("load", function () {
               for (let i = 0; i <= textElements.length; i++) {
                   textElements[i].style.color = "#FFFFFF";
               }
           });

            function updateTextColor(e) {
                textColorPicker.value = e.target.value;
                for (let i = 0; i <= textElements.length; i++) {
                    textElements[i].style.color = e.target.value;
                }
            }

            textColorPicker.addEventListener("input", updateTextColor);

            textColorPicker.addEventListener("change", updateTextColor);
    </script>
    <script th:src="@{js/bootstrap.bundle.min.js}"></script>
</body>
</html>